.header {
    box-shadow: 0px 4px 10px rgba(0, 0, 255, 0.1);
    font-family: "Poppins", sans-serif;
}
.startedBtn {
    background-color: #FF707A;
    margin-right: 124px;
}
.logInBtn {
    color: #2f2643;
    margin-right: 35px;
}
a.nav-link {
    color: #2F2643;
    margin-left: 56px;
}
.logo {
    margin-left: 126px;
}
.navbar-toggler {
    margin-right: 126px;
}
.firstSection {
    text-align: center;
}
.bigHeading {
    padding-top: 58px;
    font-size: 60px;
    line-height: 72px;
    font-family: "Poppins", sans-serif;
    color: #190e2f;   
}
.medHeading {
    padding-top: 31px;
    padding-bottom: 34px;
    font-size: 21px;
    line-height: 22px;
    color: #190e2f;
    font-family: "Poppins", sans-serif;
    margin-bottom: 26px;
}
.btnJoin {
    border-radius: 4px;
    background-color: #ff707a;
    color: white;
    padding:20px 40px;
    font-weight: 700;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.noCredit {
    font-size: 14px;
    line-height: 14px;
    color: #524a63;
    padding-top: 40px;
    padding-bottom: 36px;
    font-family: "Poppins", sans-serif;
}
.secondTitle {
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.secondTitle h2 {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    padding-top: 46px;
    color: #190E2F;
}
.secondTitle p {
    font-size: 20px;
    line-height: 34px;
    color: #433A4A;
    opacity: 0.8;
    padding-top: 24px;
    padding-bottom: 57px;
}

